<button class="btn btn-primary" (click)="volver()">Volver</button>
<div class="wrapper">
<button class="btn btn-success"  (click)="Descargar()">Descargar PDF</button>
</div>

<button *ngIf="mostrarTabla" class="btn btn-info" (click)="MostrarGrafico()">Mostrar Grafico</button>
<button *ngIf="mostrarGrafico" class="btn btn-info" (click)="MostrarTabla()">Mostrar Tabla</button>

<div id="htmlData">
  <div *ngIf="mostrarTabla">
    <table class="table table-striped  mydatatable">
      <thead>
        <th>
          Especialidad
        </th>
        <th>
          Cantidad de turnos
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let item of listadoEspecialidades">
          <td>
            {{item.especialidad}}
          </td>
          <td>
            {{item.cant}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="mostrarGrafico">
    <div [chart]="chart"></div>
  </div>
</div>
