<button class="btn btn-primary" (click)="volver()">Volver</button>
<div class="wrapper">
<button class="btn btn-success"  (click)="Descargar()">Descargar PDF</button>
</div>

<div id="htmlData">
    <div *ngIf="mostrarTabla">
<table appPasarCursor class="table table-warning mydatatable">
  <thead>
    <th>
      Usuario
    </th>
    <th>
      Fecha
    </th>
    <th>
      Hora
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let ingreso of logIngresos">
      <td>
        {{ingreso.mail}}
      </td>
      <td>
        {{ingreso.fecha}}
      </td>
      <td>
        {{ingreso.hora}}
      </td>
    </tr>
  </tbody>
</table>
</div>

    <div [chart]="chart"></div>
  </div>
