<h2>Especialistas</h2>

        <div>
          <table class="table">
              <tr>
                  <td>
                      Nombre
                  </td>
                  <td>
                    Apellido
                  </td>
                  <td *ngIf="admin">
                      DNI
                  </td>
              </tr>
              <tr *ngFor="let item of listaEspecialistas">
                  <td>
                      {{item.nombre}}
                  </td>
                  <td>
                      {{item.apellido}}
                  </td>
                  <td *ngIf="admin">
                      {{item.DNI}}
                  </td>
                  <td *ngIf="admin">
                    <div class="row">
                      <button class="btn btn-info" *ngIf="!item.aprobado" (click)="manejarActivacion('activar', item)">Activar cuenta</button>
                      <button class="btn btn-info" *ngIf="item.aprobado" (click)="manejarActivacion('desactivar', item)">Desactivar cuenta</button>
                    </div>
                  </td>
              </tr>
          </table>
