<div>
  <main role="main">

    <div class="jumbotron fondo">
      <div class="container">
        <br><br>
        <h1 class="display-3">Solicita Turno</h1>
        <br><br>
      </div>
    </div>

    <div class="container">
      <div class="row" style="text-align: center;">
          <app-paciente-elegir *ngIf="estadoAlta == 1" (seleccionarPaciente)="elegirPaciente($event)"></app-paciente-elegir>
          <app-especialidades *ngIf="estadoAlta == 2" (especialidadElegida)="elegirEspecialidad($event)"></app-especialidades>
          <app-especialistas-elegir (seleccionarEspecialista)="elegirEspecialista($event)" [especialidadElegida]="especialidadSeleccionada" *ngIf="estadoAlta == 3"></app-especialistas-elegir>
          <app-dias-elegir (seleccionarDia)="elegirDia($event)" [especialista]="especialistaSeleccionado" *ngIf="estadoAlta == 4"></app-dias-elegir>
          <app-turnos-elegir (seleccionarHorario)="elegirHorario($event)" [dia]="diaSeleccionado" [especialista]="especialistaSeleccionado" *ngIf="estadoAlta == 5"></app-turnos-elegir>

          <div class="btn-group">
            <button *ngIf="estadoAlta > 1 && authSvc.currentUser.perfil == 'administrador' || estadoAlta > 2 && authSvc.currentUser.perfil == 'paciente'" type="button" class="btn btn-primary" (click)="volverAtras()">Volver</button>
            <button type="button" class="btn btn-info" (click)="volverAHome()">Ir al Home</button>
          </div>
      </div>
    </div> <!-- /container -->
  </main>


</div>
<ngx-spinner [type]="'ball-clip-rotate-multiple'"></ngx-spinner>
