.fondo{
  --background: none;
  width: 100%;
  background: url("../../../../assets/medical4.png") no-repeat center center / cover;
}


.img-esp {
	width: 125px;
	height: 125px;
	border-radius: 150px;
	border: 6px solid rgb(130, 195, 214);
	cursor: pointer;
}
