<h4>Filtro</h4>
<input type="text" placeholder="Escribe Aquí"  [(ngModel)]="stringFiltro" ><button class="btn btn-info" (click)="filtrar()">Buscar</button><button class="btn btn-danger" (click)="limpiarFiltro()">Limpiar Búsqueda</button>






<div   id="htmlData" >

  <div class="row">
    <div class="col-4">
      <img src="../../../assets/clinica.png" width="50" height="50">
    </div>
    <div class="col-lg-4"   >
      <p>Historial clinica de Natalia Acevedo</p>
    </div>
    <div class="col-lg-4"   >
      <p>Fecha de creacion: 30/06/2022</p>
    </div>
  </div>

<table class="table table-light mydatatable" id="tables" >
  <thead>
    <th>
      Especialista
    </th>
    <th>
      Fecha
    </th>
    <th>
      Altura
    </th>
    <th>
      Peso
    </th>
    <th>
      Temperatura
    </th>
    <th>
      Presion
    </th>
    <th *ngIf="verHistClinica==true">
      Ver Detalles
    </th>
    <th>
  </thead>
  <tbody>
    <tr *ngFor="let historia of historiasFiltradas">
      <td>
        {{historia.idEspecialista | nombreUsuario:listadoEspecialistas}}
      </td>
      <td>
        {{historia.fecha | fechaProgramada}}
      </td>
      <td>
          {{historia.altura}}
        </td>
        <td>
          {{historia.peso}}
        </td>
        <td>
          {{historia.temperatura}}
        </td>
        <td>
          {{historia.presion}}
        </td>
        <td *ngIf="verHistClinica==true">
          <div class="row">
            <button class="btn btn-info" (click)="verDetalles(historia)">Ver Detalles</button>
          </div>
        </td>
    </tr>
  </tbody>
  </table>
</div>

<div class="row">
  <button style="margin-left: 5px;" class="btn btn-primary" (click)="descargarPDF()">Descargar PDF</button>
</div>


 






