<div  class="fondo">
  <div class="aparte" style="text-align: center;">
    <br>
    <div class="card  mt-5" (click)="registrarPaciente()" style="width: 600px; cursor: pointer;flex-grow: 1;">
      <img src="../../../../assets/paciente.jpg" alt="">
      <div class="card-header">
        <div class="card-title">
          Paciente
        </div>
      </div>
    </div>
    <br>
    <div  (click)="registrarEspecialista()" class="card mt-5"  style="width: 700px; cursor: pointer;flex-grow: 1;">
      <img src="../../../../assets/especialista.jpg" alt="">
      <div class="card-header">
        <div class="card-title">
          Especialista
        </div>
      </div>
    </div>
  </div>






