<div>
  <main role="main">

    <div class="jumbotron fondo">
      <div class="container">
        <br><br>
        <h1 class="display-3" style="text-align: center;"> Informes</h1>
        <br><br>
      </div>
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="!reporteSeleccionado">
          <div class="col user">
              <div class="card shadow-sm">
                  <div class="card-body">
                      <img src="" width="50px">
                      <h5>Ingresos al Sistema</h5><hr>
                      <p>Información de todos los ingresos.
                          <br>
                      </p>
                      <button class="btn btn-primary" (click)="verIngresos()">Ver Ingresos</button>
                  </div>
              </div>
          </div> 
              <div class="col user">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <img src="" style="margin-top: 9px;" width="35px">
                          <h5>Turnos por Especialidad</h5><hr>
                          <p>Muestra  todos los turnos de la clínica por especialidad.</p><br>
                          <button class="btn btn-primary" (click)="verTurnosEspecialidad()">Ver Turnos</button>
                      </div>
                  </div>
              </div> 
              <div class="col user">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="" style="margin-top: 9px;" width="35px">
                        <h5>Turnos por Día</h5><hr>
                        <p>Muestra  todos los turnos de la clínica por día.</p><br>
                        <button class="btn btn-primary" (click)="verTurnosDia()">Ver Turnos</button>
                    </div>
                </div>
            </div> 
            <div class="col user">
              <div class="card shadow-sm">
                  <div class="card-body">
                      <img src="" style="margin-top: 9px;" width="35px">
                      <h5>Turnos por Médico</h5><hr>
                      <p>Muestra  todos los turnos de la clínica solicitados por médico.</p><br>
                      <button class="btn btn-primary" (click)="verTurnosSolicitados()">Ver Turnos</button>
                  </div>
              </div>
          </div> 
          <div class="col user">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="" style="margin-top: 9px;" width="35px">
                    <h5>Turnos finalizados por Médico</h5><hr>
                    <p>Muestra  todos los turnos de la clínica finalizados por médico.</p><br>
                    <button class="btn btn-primary" (click)="verTurnosFinalizados()">Ver Turnos</button>
                </div>
            </div>
        </div> 
      </div>


      <div class="row" *ngIf="reporteSeleccionado == 'ingresos'">
        <app-reporte-ingresos (cerrarTabla)="cerrarTabla($event)"></app-reporte-ingresos>
      </div>

      <div class="row" *ngIf="reporteSeleccionado == 'turnosEspecialidad'">
        <app-reporte-turnos-especialidad (cerrarTabla)="cerrarTabla($event)"></app-reporte-turnos-especialidad>
      </div>

      <div class="row" *ngIf="reporteSeleccionado == 'turnosDia'">
        <app-reporte-turnos-dias (cerrarTabla)="cerrarTabla($event)"></app-reporte-turnos-dias>
      </div>

      <div class="row" *ngIf="reporteSeleccionado == 'turnosSolicitados'">
        <app-reporte-turnos-seleccionados (cerrarTabla)="cerrarTabla($event)"></app-reporte-turnos-seleccionados>
      </div>

      <div class="row" *ngIf="reporteSeleccionado == 'turnosFinalizados'">
        <app-reporte-turnos-finalizados (cerrarTabla)="cerrarTabla($event)"></app-reporte-turnos-finalizados>
      </div>
      <hr>
    </div> 
  </main>


</div>
<ngx-spinner [type]="'ball-clip-rotate-multiple'"></ngx-spinner>
