<main role="main">

  <div class="jumbotron fondo">
    <div class="container">
      <br><br>
      <h1 class="display-3">Historias Clinicas</h1>
      <br><br>
    </div>
  </div>

  <!-- LISTADO SI ES ADMIN -->
  <div class="container" *ngIf="usuarioActual.perfil == 'administrador' && !pacienteSeleccionado">
    <div class="row row-paciente" *ngFor="let paciente of listadoPacietnes" (click)="verUsuario(paciente)">
      <div class="col-md-3">
        <div class="card">
          <span class="border border"></span>
          <img [src]="paciente.foto" width="300px" class="img-fluid" />
        </div>
      </div>

      <div class="col-md-8 align-self-center">
        <div class="card">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="title">Nombre: </span>
                <span class="subtitle">{{paciente.nombre}} </span>
              </li>

              <li class="list-group-item">
                <span class="title">Apellido: </span>
                <span class="subtitle">{{paciente.apellido}} </span>
              </li>

              <li class="list-group-item">
                <span class="title">Edad: </span>
                <span class="subtitle">{{paciente.edad}} </span>
              </li>

              <li class="list-group-item">
                <span class="title">DNI: </span>
                <span class="subtitle">{{paciente.DNI}} </span>
              </li>

              <li class="list-group-item">
                <span class="title">Mail: </span>
                <span class="subtitle">{{paciente.mail}} </span>
              </li>

              <li class="list-group-item">
                <span class="title">Obra Social: </span>
                <span class="subtitle">{{paciente.obraSocial}} </span>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- ESPECIALISTA -->
<div class="container" *ngIf="usuarioActual.perfil == 'especialista' && !pacienteSeleccionado">
  <div class="row row-conEspecialista">
    <h1>Elegir paciente:</h1>
      <ng-container *ngFor="let paciente of misPacientes">
        <div class="container-esp" (click)="verUsuario(paciente)">
          <div class="card-inner" >
            <div class="header">
              <img [src]="paciente.foto" class="img-esp" />
              <h3>{{paciente.nombre}} {{paciente.apellido}}</h3>
            </div>
          </div>
        </div>
      </ng-container>
  </div>
  <hr>
</div> <!-- /container -->

<!-- DETALLES SI ADMIN -->
<div class="container" *ngIf="usuarioActual.perfil == 'administrador' && pacienteSeleccionado">
  <div class="row">
      <div class="col-md-3">
       <!-- <button class="btn btn-primary" (click)="quitarDetalles()">Volver</button>-->
        <div class="card">
          <span class="border border"></span>
          <img [src]="pacienteSeleccionado.foto" width="300px" class="img-fluid" />
        </div>
      </div>

      <div class="col-md-8">
        <table class="table table-striped  mydatatable">
          <thead>
            <th>
              Especialista
            </th>
            <th>
              Fecha
            </th>
            <th>
              Historial Clínico
            </th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let historia of historiasClinicas">
              <td>
                {{historia.idEspecialista | nombreUsuario:listadoEspecialistas}}
              </td>
              <td>
                {{historia.fecha | fechaProgramada}}
              </td>
              <td>
                <div class="row">
                  <button class="btn btn-primary" (click)="verDetalles(historia)">Detalle</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div> <!-- /container -->

<!-- DETALLES SI ESPECIALISTA -->
<div class="container" *ngIf="usuarioActual.perfil == 'especialista' && pacienteSeleccionado">
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="quitarDetalles()">Volver</button>
      <div class="card">
        <span class="border border"></span>
        <img [src]="pacienteSeleccionado.foto" width="300px" class="img-fluid" />
      </div>
    </div>

    <div class="col-md-8">
      <table class="table table-striped  mydatatable">
        <thead>
          <th>
            Especialista
          </th>
          <th>
            Fecha
          </th>
          <th>
            Historial Clínico
          </th>
          <th></th>
        </thead>
        <tbody>
          <ng-container *ngFor="let historia of historiasClinicas">
            <tr *ngIf="historia.idEspecialista == usuarioActual.id">
              <td>
                {{historia.idEspecialista | nombreUsuario:listadoEspecialistas}}
              </td>
              <td>
                {{historia.fecha | fechaProgramada}}
              </td>
              <td>
                <div class="row">
                  <button class="btn btn-info" (click)="verDetalles(historia)">Detalle</button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- /container -->
</main>

